# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import requests
import json
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = "../output_data/weather_data.csv"
weather_data = pd.read_csv(weather_data)
weather_data

,Unnamed: 0,City,Country,Date,Lat,Lon,Max Temp,Cloudiness,Wind Speed,Humidity
0,0,solnechnyy,RU,1586306022,50.72,136.63,-1.47,100,4.15,86
1,1,yellowknife,CA,1586305806,62.46,-114.35,-1.22,75,7.20,54
2,2,biloela,AU,1586306023,-24.42,150.50,24.84,0,4.68,53
3,3,isangel,VU,1586306024,-19.55,169.27,25.97,80,9.72,82
4,4,bengkulu,ID,1586305924,-3.80,102.27,25.86,85,2.96,78
...,...,...,...,...,...,...,...,...,...,...
557,557,dalbandin,PK,1586306340,28.89,64.41,19.12,0,1.38,19
558,558,upata,VE,1586306340,8.01,-62.40,24.87,91,2.76,70
559,559,hambantota,LK,1586306341,6.12,81.12,26.48,8,2.24,80
560,560,mastung,PK,1586306341,29.80,66.84,11.48,55,1.28,23
561,561,el jicaro,GT,1586306342,14.92,-89.90,30.65,22,2.48,35

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [29]:
#Humidity Heat Map
location_data = weather_data[["Lat","Lon"]]
data = weather_data["Humidity"].astype(float)

#Figure Layout
figure_layout = {
    'width': '800px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout)
heatmap = gmaps.heatmap_layer(location_data, weights=data,
                              dissipating=False, max_intensity=86,
                              point_radius=2)
fig.add_layer(heatmap)
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.
* A max temperature lower than 80 degrees but higher than 70.
* Wind speed less than 10 mph.
* Zero cloudiness.
* Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

In [4]:
# Between degrees celcius: 21C - 27C; Wind speed less than 10mph and 0 cloudiness
vacation_df = weather_data.loc[(weather_data["Max Temp"] < 27) 
                                & (weather_data["Max Temp"] > 21) 
                                & (weather_data["Wind Speed"] < 10)
                                & (weather_data["Cloudiness"] == 0)]
                                
vacation_df.reset_index(inplace=True)
del vacation_df["index"]
del vacation_df["Unnamed: 0"]
vacation_df

,City,Country,Date,Lat,Lon,Max Temp,Cloudiness,Wind Speed,Humidity
0,biloela,AU,1586306023,-24.42,150.50,24.84,0,4.68,53
1,yenagoa,NG,1586305921,4.92,6.26,26.45,0,1.86,88
2,sao filipe,CV,1586306064,14.90,-24.50,23.71,0,4.85,73
3,saharsa,IN,1586305992,25.88,86.60,22.44,0,0.16,20
4,vila do maio,CV,1586306109,15.13,-23.22,24.00,0,8.20,64
5,morondava,MG,1586306127,-20.28,44.28,24.43,0,1.93,84
6,nioro,GM,1586306152,13.35,-15.75,24.94,0,3.68,43
7,namibe,AO,1586306162,-15.20,12.15,22.67,0,4.52,62
8,sur,OM,1586306167,22.57,59.53,25.84,0,2.70,44
9,ashta,IN,1586306238,23.02,76.72,24.45,0,4.74,22
10,riyadh,SA,1586306241,24.69,46.72,26.00,0,3.10,26
11,atar,MR,1586306242,20.52,-13.05,26.09,0,3.78,16
12,narsimhapur,IN,1586306286,22.95,79.20,24.81,0,0.37,17
13,jodhpur,IN,1586306287,26.29,73.03,24.15,0,4.49,32
14,bubaque,GW,1586306291,11.28,-15.83,26.08,0,6.72,75
15,dwarka,IN,1586306304,22.24,68.97,25.53,0,3.92,81
16,umm lajj,SA,1586306330,25.02,37.27,24.43,0,3.98,62

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:

# base url, params & containers
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

target_search = "hotel"
target_radius = 5000
hotel_df = []
hotel_name = []
address = []

#loop through all the cities from the imported dataset .loc[i,4] .loc[i,5]
for  i in range(len(vacation_df)):
    
    lat = vacation_df.loc[i]["Lat"]
    lon = vacation_df.loc[i]["Lon"]

    # set up a parameters dictionary
    params = {
        "location": f'{lat},{lon}',
        "keyword": target_search,
        "radius": target_radius,
        #"type": target_type,
        "key": g_key}


    # run a request using our params dictionary
    response = requests.get(base_url, params=params).json()
    #pprint(response)
    
    try:
        #append to lists
        hotel = response['results'][0]['name']
        vicinity = response['results'][0]['vicinity']
        #hotel_df.append([hotel_name, address])
        print(hotel,vicinity)
    
        hotel_name.append(hotel)
        address.append(vicinity)
        
        
    except Exception:
        #print city name that was not found
        hotel_name.append('NaN')
        address.append('NaN')
        print(f"{i} hotel not found!")

Biloela Hotel 60 Callide St, Biloela
Aridolf Resort Wellness and Spa Okaka Estate, Along Isaac Boro Expressway, Yenagoa, Bayelsa State. Nigeria
Hotel Savana São, Filipe
Hotel Blue Heaven Naya Bazar, Saharsa
Hotel Marilu Cidade de Porto Inglês Maio Ilha do
Palissandre Cote Ouest resort & SPA Morondava
6 hotel not found!
Hotel ibis Styles Iu Namibe Avenida Eduardo Mondlane, Namibe
Sur Grand Hotel Unnamed Road, Sur
HOTEL SURANA PALACE Adalat Rd, Ashta
Hyatt Buyutat 8745 Al Arz, Riyadh
Odar kanawal Autoroute Akjoujt, Atar
Hotel Kusum Valley and Restaurant Narsinghpur
Taj Hari Mahal, Jodhpur Taj Hari Mahal, 5th, Residency Rd, Jodhpur
Ponta Anchaca Archipel des Bijagos, Rubane
VITS Devbhumi, Dwarka Okha State Highway, near Ravla Lake, opposite Post Office Road, Dwarka
عروس الشاطئ للوحدات السكنية المفروشة King Abdullah Road, Al Dawayhi، Umluj

In [11]:
hotel_name

['Biloela Hotel',
 'Aridolf Resort Wellness and Spa',
 'Hotel Savana',
 'Hotel Blue Heaven',
 'Hotel Marilu',
 'Palissandre Cote Ouest resort & SPA',
 'NaN',
 'Hotel ibis Styles Iu Namibe',
 'Sur Grand Hotel',
 'HOTEL SURANA PALACE',
 'Hyatt Buyutat',
 'Odar kanawal',
 'Hotel Kusum Valley and Restaurant',
 'Taj Hari Mahal, Jodhpur',
 'Ponta Anchaca',
 'VITS Devbhumi, Dwarka',
 'عروس الشاطئ للوحدات السكنية المفروشة']

In [20]:
vacation_df["Hotel Name"] = hotel_name
vacation_df["Address"] = address

/Users/kateengard/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/kateengard/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
hotel_df = vacation_df[vacation_df["Hotel Name"] != "NaN"]
hotel_df

,City,Country,Date,Lat,Lon,Max Temp,Cloudiness,Wind Speed,Humidity,Hotel Name,Address
0,biloela,AU,1586306023,-24.42,150.50,24.84,0,4.68,53,Biloela Hotel,"60 Callide St, Biloela"
1,yenagoa,NG,1586305921,4.92,6.26,26.45,0,1.86,88,Aridolf Resort Wellness and Spa,"Okaka Estate, Along Isaac Boro Expressway, Yen..."
2,sao filipe,CV,1586306064,14.90,-24.50,23.71,0,4.85,73,Hotel Savana,"São, Filipe"
3,saharsa,IN,1586305992,25.88,86.60,22.44,0,0.16,20,Hotel Blue Heaven,"Naya Bazar, Saharsa"
4,vila do maio,CV,1586306109,15.13,-23.22,24.00,0,8.20,64,Hotel Marilu,Cidade de Porto Inglês Maio Ilha do
5,morondava,MG,1586306127,-20.28,44.28,24.43,0,1.93,84,Palissandre Cote Ouest resort & SPA,Morondava
7,namibe,AO,1586306162,-15.20,12.15,22.67,0,4.52,62,Hotel ibis Styles Iu Namibe,"Avenida Eduardo Mondlane, Namibe"
8,sur,OM,1586306167,22.57,59.53,25.84,0,2.70,44,Sur Grand Hotel,"Unnamed Road, Sur"
9,ashta,IN,1586306238,23.02,76.72,24.45,0,4.74,22,HOTEL SURANA PALACE,"Adalat Rd, Ashta"
10,riyadh,SA,1586306241,24.69,46.72,26.00,0,3.10,26,Hyatt Buyutat,"8745 Al Arz, Riyadh"
11,atar,MR,1586306242,20.52,-13.05,26.09,0,3.78,16,Odar kanawal,"Autoroute Akjoujt, Atar"
12,narsimhapur,IN,1586306286,22.95,79.20,24.81,0,0.37,17,Hotel Kusum Valley and Restaurant,Narsinghpur
13,jodhpur,IN,1586306287,26.29,73.03,24.15,0,4.49,32,"Taj Hari Mahal, Jodhpur","Taj Hari Mahal, 5th, Residency Rd, Jodhpur"
14,bubaque,GW,1586306291,11.28,-15.83,26.08,0,6.72,75,Ponta Anchaca,"Archipel des Bijagos, Rubane"
15,dwarka,IN,1586306304,22.24,68.97,25.53,0,3.92,81,"VITS Devbhumi, Dwarka","Okha State Highway, near Ravla Lake, opposite ..."
16,umm lajj,SA,1586306330,25.02,37.27,24.43,0,3.98,62,عروس الشاطئ للوحدات السكنية المفروشة,"King Abdullah Road, Al Dawayhi، Umluj"

In [25]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [30]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations, info_box_content= hotel_info)
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', margin='0 auto 0 auto', padding='1px', wi…